<footer>
  <p>By <a href="http://rochimfn.github.io/contact/">Rochim</a></p>
  <ul>
    <li><a href="mailto:rochim.noviyan@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
    <li><a href="https://github.com/rochimfn"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/rochim-farul-noviyan-421292164"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/rochimfn"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://instagram.com/rochim.noviyan"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://www.facebook.com/rochim.farulnoviyan"><i class="fa fa-facebook-official"></i></a></li>
  </ul>
</footer>
