<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl}}"/>
  <link rel="canonical"
  href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | site.url }}"/>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300"/> -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
</head>
