$color1: rgba(122, 158, 159, 1);
$color2: rgba(79, 99, 103, 1);
$color3: rgba(238, 245, 219, 1);

$content-width: 800px;
$main: $color1;
$font-style: 'Source Sans Pro', sans-serif;;
$font-color: #000000;
$link-color: $color2;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: $color2;
$light: #EEF5DB;
$header: $color3;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
